@import "src/app/shared/styles/mixins.scss";
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
  --neutral-gray-02: #D9D9D9;
  --branded-01: #07B0FB;
  --white: #FFFFFF;
}

.txt-center {
  text-align: center;
}
